<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sumauto.habitat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_SMS">
    </uses-permission>

    <application
        android:name=".HabitatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoadingActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AddressBookActivity"
            android:label="@string/address_book"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TrendDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.NoticeFriendListActivity"
            android:label="@string/notice_who_see"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserCenterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${USER_HOST}"
                    android:path="/home"
                    android:scheme="${SCHEMA}"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditUserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ForgetPassword"
            android:screenOrientation="portrait">
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- ###################微信###################### -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- ###################添加UmengAppkey###################### -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UM_KEY}">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UM_CHN}"/>

        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/settings">
        </activity>
        <activity
            android:name=".activity.EditPasswordActivity"
            android:label="@string/change_password">
        </activity>

        <service
            android:name=".account.AccountService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <activity
            android:name=".activity.CreateCommunity"
            android:label="@string/create_circle"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${USER_HOST}"
                    android:path="/data"
                    android:scheme="${SCHEMA}"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CollectionsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BlackNoteActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${USER_HOST}"
                    android:path="/black"
                    android:scheme="${SCHEMA}"/>
            </intent-filter>
        </activity>

        <receiver android:name=".callback.SmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.UserTrendActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${USER_HOST}"
                    android:path="/trend"
                    android:scheme="${SCHEMA}"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserFollowActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${USER_HOST}"
                    android:path="/follow"
                    android:scheme="${SCHEMA}"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserFansActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="${USER_HOST}"
                    android:path="/fans"
                    android:scheme="${SCHEMA}"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent">
        </activity>
    </application>

</manifest>